html
#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  width: 100%;
  /* padding: 2rem 2rem 2rem 2rem; */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  /* font-size: 1.3vw; */
  --darkteal: #1fcfbb;
  --teal:#99F6E4;
  --lightteal: rgb(16, 16, 16);
  --gray:#D1D5DB;
  --lightgray: #E5E7EB;
  position: absolute;
  top:20px;
  /* overflow-x: hidden; */
}

canvas {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 2px solid #c1c1c1;
  border-radius: 3%;
  cursor: pointer;
}


.inputPrompt {
  margin: 0;
  width: 20%;
  scale: 1.8;
  background-color: transparent;
  border-radius: 1%;
  border: 2px solid var(--gray);
  font-size: 11px;
  color: #000000;
}

.inputPrompt:focus {
  outline: none !important;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 100;
  position: absolute;
}

.centered-container :hover {
  background-color: var(--teal);
  border-color: transparent;
}

.centered-container :focus :active {
  border-color: transparent;
}

.centered-container button {
  background-color: var(--darkteal);
  outline: none; /* Remove outline on button */
}

.image-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.buttonContainer {
  top:0;
  position: relative;
  display: flex;
  gap: 5%;
  padding-left: 60%;

}

.buttonGroup {
  width: 100px;
}

.circularButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray);
  color: #ffffff;
  border: none;
  cursor: pointer;
  top:0;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.activeButton{
  background-color: var(--darkteal);
}

.buttonText {
  margin-top: 20px;
  top:0;
  position: relative;
}
/* App.css */
.visible {
  display: block;
}

.hidden {
  display: none;
}

.logo{
  top:0;
  position: absolute;
  left:0;
  padding: 0 2% 2% 2%;
}

.logoBtm{
  z-index: 2001;
  top: -65px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100px;
  position: absolute;
  bottom: 0;
  opacity: 70%;
  padding: 1%;
}

.BottomBar{
  position: relative;
  z-index: 3001;
  margin: 2px auto;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  height: 10%;
  background-color: white;
  width: 100%;
}

.form-container {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

button {
  position: relative;
  padding: 5%;
  color: black;
  background-color: #42e0ce;
  border-radius: 5%;
  color: #fff;
  border: none;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  outline:none;
}

button:focus {
  outline: none !important;
  outline-offset: none !important;
}

.nextbutton {
  margin-right: 20px;
  position: sticky;
  background-color: #54dece;
  border-radius: 5%;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  top: 80%;
  left: 96%;
  /* transform: translate(-50%, 50%); */
}

.nextbutton:focus {
  outline: none !important;
  outline-offset: none !important;
}

@media (max-width: 1600px) {
  .nextbutton {
    top: 80%;
    left: 96%;
  }
}
.modelcontainer {
  /* z-index: 2000; */
  display: flex;
  width: 41vw;
  position: fixed;
  left: 5%;
  top: 45%;
}

.modelpanel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 3px;
  position: relative;
  transition: flex 700ms ease-in;
}

.modelpanel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.modelpanel.panel1 {
  background-image: url("porcelain.png");
}

.modelpanel.panel2 {
  background-image: url("comic.png");
}

.modelpanel.panel3 {
  background-image: url("bnw.png");
}

.modelpanel.panel4 {
  background-image: url("all.png");
}

.modelpanel.active {
  background-color: #4edfce;
  flex: 5;
}

.modelpanel.active h3 {
  opacity: 1;
  transition: opacity 300ms ease-in 400ms;
}

@media (max-width: 480px) {
  .modelcontainer {
    width: 50vw;
  }
  .modelpanel:nth-of-type(4), .modelpanel:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 1600px) {
  .modelcontainer {
    width: 48vw;
    left: 1%;
    top: 45%;
  }
}

.slidecontainer {
  margin-top: 20px;
}

#slideout {
  z-index: 1000;
  /* color: transparent; */
  position: fixed;
  top: 10%;
  left: -53vw;
  width: 44vw;
  height: 5%;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
#slideout form {
  display: block;
  padding: 20px;
}
/* #slideout textarea {
  display:block;
  height: 100px;
  width: 250px;
} */
#slideout.on {
  top: 10%;
  left: 0;
}